/* header */

.navbar {
    position: absolute;
    width: 100%;
    top: 0rem;
    z-index: 2;
}

.navbar-head {
    color: #fff;
    text-decoration: none;
    font-weight:bolder;
    padding: 1vh 0vh;
    display: block;
    font-family: LXGW WenKai Mono TC;
    font-size: 2.75rem;
    text-align: center;
    text-shadow: 3px 3px #00000099, -1.5px -1.5px #00000055, 1.5px -1.5px #00000055, -1.5px 1.5px #00000055;
    transition: 0.25s ease;
}
.navbar-head-e {
    letter-spacing: 0px;
    display: inline-block;
    font-weight: lighter;
    font-family: Equestria;
    font-size: 2.75rem;
    text-transform: uppercase;
    text-shadow: 3px 3px #00000099, -1.5px -1.5px #00000055, 1.5px -1.5px #00000055, -1.5px 1.5px #00000055;
    transition: 0.25s ease;
    white-space: nowrap;
}
.navbar-head.dark {
    color: #fdfdfd;
    transition: 0.15s ease;
}
.navbar ul {
    list-style-type: none;
    padding: .75vw;
    padding-bottom: .5vw;
    margin: 0em;
    overflow: hidden;
    text-align: center;
}
.navbar-img {
    display: flex;
    justify-content: center;
    background-image: url('../pic/vapor_trail_wide.png');
    background-color: #8cd2f5;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(0px); /* 初始位置 */
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.35);
    position: relative;
    z-index: 3;
}
.navbar-black {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
}
.navbar-black.dark {
    background-color: rgba(0, 0, 0, 0.7);
}

/* footer */

footer {
    width: 100%;
    position: absolute;
    background-color: #fff;
    z-index: 3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    text-align: center;
}
footer.dark {
    background-color: #111;
    transition: 0.15s ease-in-out;
}
footer p {
    color: rgb(255, 99, 32);
    display: inline-block;
    font-size: 1.25rem;
    margin: 0.75em 0em;
    padding-bottom: 0.25em;
    transition: 0.25s ease;
}
footer p:hover {
    color: rgb(231, 0, 0);
    transition: 0.1s ease;
}
.container {
    padding-bottom: 75px;
}
@media screen and (max-width: 800px) {
    footer p {
        font-size: 0.8rem;
        margin: 0.5em 0em;
        padding-bottom: 0.3em;
    }
    .navbar-head {
        font-size: 2.2rem;
        text-shadow: 2px 2px #00000099, -1px -1px #00000055, 1px -1px #00000055, -1px 1px #00000055;
    }
    .navbar-head-e {
        font-size: 2.2rem;
        text-shadow: 2px 2px #00000099, -1px -1px #00000055, 1px -1px #00000055, -1px 1px #00000055;
        letter-spacing: -2px;
    }
}
@media screen and (min-width: 2000px) {
    footer p {
        font-size: 1.3rem;
    }
    .navbar-head {
        font-size: 3.25rem;
        padding: 0.75vh 0vh;
    }
    .navbar-head-e {
        font-size: 3.25rem;
    }
}