/* font */

.lxgw-wenkai-mono-tc-regular {
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Equestria';
    src: url('../font/Equestria.otf') format('truetype');
    crossorigin: anonymous;
}

/* body */

html {
    background-color: #000;
    z-index: -2;
}
body {
    margin: 0;
    padding: 0;
}
.img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    transition: 0.15s ease-in-out;
}
.img.dark {
    opacity: 20%;
}
.container {
    background-color: rgba(240, 255, 255, 0.85);
    color: #000;
    max-width: 70%;
    height: auto;
    padding-top: 5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    margin: auto;
    z-index: 2;
    transition: 0.25s ease;
    min-height: 75vh;
}
.container.dark {
    background-color: rgba(0, 0, 0, 0.0);
    color: #eee;
    transition: 0.2s ease-in-out;
}
.container p {
    min-height: 1em;
    text-align: justify;
    font-size: 1.75rem;
    font-family: LXGW WenKai Mono TC;
    padding: 0em 3em;
    margin: 2.5em 0em;
    transition: 0.25s ease;
    z-index: 2;
}
.vapor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}
.vapor a {
    display: inline-block !important;
    text-align: inherit !important;
    font-family: inherit !important;
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    padding: 0 !important;
    box-shadow: none !important;
}
.vapor a:hover img {
    transform: scale(1.05) translateY(-10px);
    transition: 0.2s ease-out;
}
.vapor img {
    display: block;
    box-shadow: 0 0 10px rgba(0, 56, 45, 0.422);
    margin: auto;
    width: 75%;
    transition: 0.1s ease-out;
}
.des {
    font-family: LXGW WenKai Mono TC;
    font-size: x-large;
    margin-top: 12.5px;
}
.title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: LXGW WenKai Mono TC;
    padding: 1em 0em;
    margin: 0em;
    transition: 0.25s ease;
}
.container a{
    display: block;
    text-align: center;
    font-family: LXGW WenKai Mono TC;
    color: rgb(13, 218, 150);
    text-decoration: none;
    font-size: 1.75rem;
    padding: 0.3em 0em;
    transition: 0.2s ease;
}
.container a:hover{
    color: rgb(69, 205, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.dark .container a:hover{
    color: rgb(69, 205, 255);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}
.directions{
    font-size: 1.5em;
    text-align: justify;
    font-family: LXGW WenKai Mono TC;
    margin: 0em 4em;
}
.warning{
    font-size: 1.5em;
    font-family: LXGW WenKai Mono TC;
    background-color: #ee4f4f;
    text-align: center;
    margin: 0em 4em;
}
.preword{
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    margin-top: -4.4em;
    margin-bottom: 5em;
}
.line {
    width: 100%;
    height: 2.5px;
    border-radius: 5px;
    background-color: #333;
    margin: 0 auto;
    transition: 0.15s ease;
    margin-top: 9rem;
}
.line.dark {
    background-color: #eee;
}

.line-footer {
    height: 3px;
    border-radius: 5px;
    background-color: #333;
    margin: 0 auto;
    transition: 0.15s ease;
    margin-top: 8rem;
    width: 80%;
}
.line-footer.dark {
    background-color: #eee;
}

/* 章節調整按鈕 */

.chapter-navigation {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    gap: 15px;
}
.nav-button {
    padding: 10px 15px;
    margin-top: 3em;
    font-size: 1.4rem;
    cursor: pointer;
    background-color: #1056a1;
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.2s;
    width: 160px;
    margin-bottom: -0.5em;
}

.nav-button:hover {
    background-color: #2272c7;
}

.nav-button:active {
    background-color: #5922c7;
    transition: background-color 0.1s;
}

@media screen and (max-width: 400px) {
    .container p {
        font-size: 1.2rem;
        padding: 0em 1em;
        margin: 1em 0em;
    }
}
@media screen and (max-width: 800px) {
    .container {
        max-width: 100%;
        min-height: 75vh;
    }
    .title{
        font-size: 2rem;
        margin: 0.5em 0em;
        padding: 0.5em 0em;
    }
    .container p {
        min-height: 0em;
        font-size: 1.25rem;
        padding: 0em 1.5em;
        margin: 2.5em 0em;
    }
    .container a{
        font-size: 1.25rem;
        padding: 0.25em 0em;
    }
    .directions{
        font-size: 1.25em;
        margin: 0em 2em;
    }
    .warning{
        font-size: 1.1em;
        margin: 0em 2em;
    }
    .preword{
        font-size: 0.85em;
        margin-top: -3.25em;
    }
    .line {
        width: 90%;
        height: 2px;
        border-radius: 4px;
        margin-top: 4rem
    }
    .line-footer {
        height: 2.25px;
        border-radius: 4px;
        width: 95%;
        margin-top: 6em;
    }
    .chapter-navigation {
        width: 90%;
        gap: 10px;
    }
    .nav-button {
        padding: 9px 4.5px;
        width: 110px;
        margin-top: 2em;
        margin-bottom: -2.5em;
        font-size: 1rem;
    }
    .vapor a:hover img {
        transform: scale(1.05) translateY(-3.5px);
    }
    .des {
        font-size: large;
        margin-top: 6.5px;
    }
}
@media screen and (min-width: 2000px) {
    .container {
        max-width: 70%;
    }
    .title{
        font-size: 3.25rem;
        margin-bottom: -0.25em;
        padding: 0.5em 0em;
    }
    .container p {
        font-size: 2.25rem;
        padding: 0em 5em;
        margin: 3em 0em;
    }
    .container a{
        font-size: 1.85rem;
        padding: 0.5em 0em;
    }
    .directions{
        font-size: 1.95em;
        margin: 0em 2em;
        margin-top: 0.75em;
    }
    .warning{
        font-size: 1.9em;
        margin: 0.5em 2em;
    }
    .preword{
        font-size: 0.8em;
        margin-top: -4.25em;
    }
    .line {
        width: 100%;
        height: 3px;
        border-radius: 6px;
        margin-top: 10rem
    }
    .chapter-navigation {
        width: 70%;
        gap: 30px;
    }
    .nav-button {
        padding: 15px 20px;
        width: 220px;
        margin-top: 3em;
        margin-bottom: 0.5em;
        font-size: 1.75rem;
    }
    .vapor a:hover img {
        transform: scale(1.05) translateY(-15px);
    }
    .des {
        font-family: LXGW WenKai Mono TC;
        font-size: xx-large;
        margin-top: 15px;
    }
}

/* NO JS */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.alert {
    text-align: center;
    background: #333;
    padding: 5em 10em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
