/* 主體 */

.sidebar {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to right, rgb(224, 250, 255, 1) 0%, rgba(234, 253, 255, 0.9) 100%);
    width: 20.25rem;
    height: 100%;
    position: fixed;
    transition: transform 0.3s ease-out; /* 添加平滑過渡效果 */
    transform: translateX(-100%);       /* 初始隱藏在左側 */
    top: 0rem;
    z-index: 4;
}
.sidebar.active {
    transform: translateX(0);           /* 顯示時從左側滑入 */
}
.sidebar.dark {
    background: linear-gradient(to right, rgb(22, 61, 85) 0%, rgba(22, 61, 85, 0.9) 100%);
    transition: background-color 0.25s ease-in-out; 
}
.sidebar.dark.active {
    transform: translateX(0);
}
.sidebar menu {
    text-align: center;
    padding: 0;
    font-family: LXGW WenKai Mono TC;
    font-size: 2.25rem;
    font-weight: bold;
    white-space: nowrap;
    letter-spacing: 10px;
    color: #000;
    margin: 0.75em 0em;
}
.sidebar menu.dark {
    color: #eee;
    transition: 0.15s ease-in-out;
}
.sidebar ul {
    padding: 0em 1.35em;
    list-style-type: none;
    color: #823ed0;
    height: calc(100vh - 5.25em); /* 減去一定的高度以避開按鈕 */
    overflow-y: auto;       /* 當內容超出時啟用垂直滾動條 */
    margin-bottom: 1em;   /* 確保不直接接觸到底部按鈕 */
}
.sidebar ul li {
    margin: 0.75rem 0rem;
}
.sidebar ul li a {
    color: #823ed0;
    width: 100%;            /* 設定固定寬度，根據需要調整 */
    font-family: LXGW WenKai Mono TC;
    font-size: 1.5rem;
    margin-left: 1px;
    font-weight: lighter;
    text-decoration: none;
}
.sidebar ul li a:hover {
    color: #d7bf21;
    text-decoration: underline;
}

.sidebar ul li a.selected {
    color: #d73a49;
    text-decoration: underline;
}

.sidebar ul::-webkit-scrollbar {
    width: 8px;             /* 自定義滾動條寬度 */
}

.sidebar ul::-webkit-scrollbar-thumb {
    background-color: #82a3d4; /* 滾動條顏色 */
    border-radius: 4px;
}

.sidebar ul::-webkit-scrollbar-track {
    background-color: rgba(234, 253, 255, 0.9) /* 滾動條背景 */
}

.hamburger {
    position: fixed;
    top: 1rem;    /* 距離視窗頂部 */
    left: 1rem;      /* 距離視窗左側 */
    z-index: 10;     /* 確保按鈕位於其他元素上層 */
    cursor: pointer; /* 鼠標指針變為點擊狀態 */
    width: 1.5rem;   /* 按鈕寬度調小 */
    height: 1.5rem;  /* 按鈕高度調小 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: none; /* 移除背景 */
    border: none;     /* 移除邊框 */
    padding: 0;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0em;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
}
.hamburger:hover {
    background-color: rgba(134, 0, 0, 0.15);
    border-radius: .5em;
    transition: all 0.2s ease;
}

/* 按鈕的三條橫線 */
.hamburger span {
    display: block;
    width: 100%;
    height: 0.15rem;        /* 線條高度調小 */
    background-color: black; /* 線條顏色 */
    border-radius: 5px;      /* 線條圓角效果 */
    transition: all 0.3s ease;
}

/* 按鈕被激活時的效果 */
.hamburger.active span:nth-child(1) {
    transform: translateY(0.625rem) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    transform: scaleX(0.2);
    opacity: 0;
    transition: 0.25s;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-0.625rem) rotate(-45deg);
}

/* slider */

.slider-container {
    position: absolute;    /* 使用絕對定位 */
    bottom: 0;             /* 靠底部 */
    left: 50%;             /* 水平置中 */
    transform: translateX(-51%); /* 確保容器完全置中 */
    width: 95%;           /* 滑桿容器寬度為 100% */
    padding: 10px;         /* 可選：調整內邊距 */
    text-align: center;    /* 讓標籤文字居中 */
    background-color: rgba(0, 0, 0, 0.1); /* 背景顏色，透明黑 */
}

.slider {
    width: 90%;
    align-items: center;
    margin-top: 0.9rem;
}

.scale-label {
    font-size: 1rem;
    margin-top: 10px;
}

/* 按鈕 */

#toggleOpacity {
    position: fixed;
    bottom: 1em;              /* 距離底部保持 1em */
    left: 50%;                /* 水平居中 */
    transform: translateX(-50%);
    width: 75%; 
    padding: 0.5em 1.5em;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: #fff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    z-index: 3;
    transition: 0.15s ease;
}

#toggleOpacity:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#toggleOpacity.dark {
    background-color: rgba(255, 255, 255, 0.7);
    color: #111;
    transition: 0.15s ease;
}
#toggleOpacity:hover.dark {
    background-color: rgba(255, 255, 255, 0.9);
}

/* 滾動條 */

/* 滾動條的整體樣式 */
::-webkit-scrollbar {
    width: 15px; /* 滾動條寬度 */
    background-color: #d6edec;
}

/* 滾動條的滑塊部分 */
::-webkit-scrollbar-thumb {
    background-color: #888; /* 滑塊顏色 */
    border-radius: 8px; /* 圓角滑塊 */
    border: 2px solid #f4f4f4; /* 外框，與背景融為一體 */
}

/* 滾動條滑塊在懸停時的效果 */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* 懸停變暗 */
}

/* 滾動條軌道（背景）的樣式 */
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 6px; /* 滑塊圓角 */
}

@media screen and (max-width: 800px) {
    ::-webkit-scrollbar {
        width: 12px; /* 滾動條寬度 */
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 6px; /* 圓角滑塊 */
    }
    .sidebar {
        width: 17.75rem;
    }
    .sidebar ul {
        padding: 0em 1.225em;
    }
    .sidebar ul li {
        margin: 1rem 0rem;
    }
    .sidebar ul li a {
        font-size: 1.3rem;
    }
    .sidebar menu {
        font-size: 2rem;
        letter-spacing: 10px;
        margin: 1em 0em;
    }
}

@media screen and (min-width: 2000px) {
    ::-webkit-scrollbar {
        width: 18px; /* 滾動條寬度 */
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px; /* 圓角滑塊 */
    }
    .sidebar {
        width: 25rem;
    }
    .sidebar menu {
        font-size: 2.5rem;
        letter-spacing: 20px;
        margin: 0.5em 0em;
    }
    .sidebar ul {
        padding: 0em 1.75em;
    }
    .sidebar ul li {
        margin: 0.5rem 0rem;
    }
    .sidebar ul li a {
        font-size: 1.8rem;
        margin-left: 1px;
    }
    #toggleOpacity {
        font-size: 1.25rem;
    }
    .hamburger {
        transform: scale(1.4);
    }
}